<%-contentFor('master') %>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">User List</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <a href="/admin/users/create" class="btn btn-primary mb-3">Create User</a>
        <table id="dataTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Email</th>
                    <th scope="col" class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <% for (let user of users) { %>
                    <tr>
                        <th scope="row">1</th>
                        <td><%= user.name %></td>
                        <td><%= user.phone %></td>
                        <td><%= user.email %></td>
                        <td class="text-center">
                            <a href="/admin/users/edit/<%= user.id %>" class="btn btn-info">
                               <i class="fas fa-pencil-alt"></i> Edit
                            </a>
                            <a href="/admin/users/delete/<%= user.id %>" class="btn btn-danger">
                                <i class="fas fa-trash"></i> Delete
                            </a>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>

<%-contentFor('header_link') %>
<link rel="stylesheet" href="/../../admin/assets/lib/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/../../admin/assets/lib/datatables-responsive/css/responsive.bootstrap4.min.css">

<%-contentFor('footer_script') %>
<script src="/../../admin/assets/lib/datatables/jquery.dataTables.min.js"></script>
<script src="/../../admin/assets/lib/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/../../admin/assets/lib/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/../../admin/assets/lib/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script>
    $("#dataTable").DataTable({
        "responsive": true,
        "autoWidth": false,
    });
</script>
