<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <%- include('./../partials/header_asset') -%>
</head>
<body>
<div class="wrapper">
    <div class="container">
        <%- include('./../partials/header') -%>
        <div class="content mt-5">
            <%- include('./../partials/alert_message') -%>
            <%- defineContent('master') %>
        </div>
    </div>
</div>

<%- include('./../partials/footer_asset') -%>
</body>
</html>